@media(max-width: 1720px) {
  .header__logo {
    margin-right: 95px;
  }
  .section-contacts__left {
    width: calc(522 / 1600 * 100%);
  }
  #section-contacts__map {
    left: calc(50px + (522 / 1600 * (100% - 100px)));
    max-width: calc(100% - (50px + (522 / 1600 * (100% - 100px))));
  }
}
@media(max-width: 1480px) {
  .header__logo {
    margin-right: 50px;
  }
  .header__item {
    margin-right: 20px;
  }
  .section-hero__item {
    margin-right: 3%;
  }
  .section-catalog__accordion .ui-accordion-content {
    padding-top: 24px;
    padding-bottom: 22px;
  }
  .section-catalog__accordion-tabs {
    column-count: 2;
    padding-right: 0;
    padding-bottom: 0;
  }
  .section-editions__swiper-slide-title {
    max-width: 150px;
  }
  .section-editions__swiper-slide-author {
    max-width: 150px;
  }
}
@media(max-width: 1200px) {
  .header {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .header__search {
    display: block;
    order: 1;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  .header__search svg rect,
  .header__search svg path {
    transition: fill .2s ease-in-out;
  }

  .header__search:hover svg rect,
  .header__search:hover svg path {
    fill: #C283F3;
  }

  .header__search:focus {
    outline: 2px solid #9D5CD0;
    outline-offset: 3px;
  }

  .header__search:active svg rect,
  .header__search:active svg path {
    fill: #7943A4;
  }

  .header__search svg {
    display: block;
  }

  .header__nav {
    margin-left: 0;
  }

  .header__burger {
    position: relative;
    z-index: 6;
    display: block;
    width: 36px;
    height: 28px;
    color: var(--text__color-light);
    transition: color .2s ease;
  }

  .header__burger:focus {
    outline: 2px solid #9D5CD0;
    outline-offset: 3px;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    background-color: currentColor;
    transform-origin: right;
    transition: transform .2s ease;
  }

  .header__burger::before {
    width: 100%;
    transform: translateY(calc(-100% - 11px));
  }

  .header__burger span {
    top: calc(50% - 1px);
    width: 28px;
    transition: opacity .5s ease, transform .2s ease;
  }

  .header__burger::after {
    width: 24px;
    transform: translateY(calc(100% + 8px));
  }

  .header__burger:hover {
    color: #C283F3;
  }

  .header__burger:active {
    color: #7943A4;
  }

  .header__burger:active span {
    transform: scaleX(calc(25 / 30));
  }

  .header__burger:active::after {
    transform: scaleX(calc(18 / 30)) translateY(calc(100% + 5px));
  }

  .is-opened.header__burger span,
  .is-opened.header__burger::before,
  .is-opened.header__burger::after {
    transform-origin: center;
  }

  .is-opened.header__burger::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .header__burger.is-opened span {
    width: 100%;
    opacity: 0;
    transform: translateX(-100%);
  }

  .is-opened.header__burger::after {
    top: 50%;
    width: 100%;
    transform: translateY(-50%) rotate(-45deg);
  }

  .header__menu-wrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    display: none;
    /* height: 100vh; */
    padding: 110px 80px 40px 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transform: translateX(-100%);
  }

  .header__menu {
    display: block;
    margin: 0;
    max-height: 100%;
    overflow-y: auto;
  }

  .header__menu-wrap.is-opened {
    display: block;
    transform: translateX(0);
    animation-name: menu-open;
    animation-duration: .3s;
  }

  .header__menu-wrap.is-closed {
    animation-name: menu-close;
    animation-duration: .3s;
  }

  .header__item {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .header__close-btn {
    display: none;
  }


  .section-gallery__swiper-container {
    position: relative;
  }
  .hystmodal {
    position: absolute;
  }
  .hystmodal__window {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .hystmodal__picture {
    width: calc(264 / 594 * 100%);
  }
  .hystmodal__discription {
    padding-left: calc(50 / 594 * 100%);
    padding-right: calc(50 / 594 * 100%);
    width: calc(330 / 594 * 100%);
  }
  .hystmodal__main-title {
    font-size: 2.35vw;
  }
  .hystmodal__second-title {
    font-size: 1.56vw;
  }
  .hystmodal__date {
    font-size: 1.17vw;
  }
  .hystmodal__text {
    font-size: 1.56vw;
    line-height: 3.12vw;
  }







  .header__content {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .header__logo {
    order: 1;
    margin-right: 0;
    width: 188px;
    height: 42px;
    background: url("../img/header__logo-1024.svg") ;
    transform: translateX(-3px);
  }
  .header__nav {
    flex: 0 0;
  }
  .header__item {
    margin-bottom: 40px;
  }
  .header__link {
    font-size: 24px;
    color: rgba(255, 255, 255, .8);
  }
  .header__enter {
    position: relative;
    margin-top: 74px;
    margin-left: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 88px;
    padding-right: 88px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    font-weight: 400;
  }
  .header__enter:focus {
    background-color: transparent;
  }
  .header__enter:hover {
    background-color: #9D5CD0;
    color: var(--text__color-light);
  }
  .header__enter:hover svg path {
    fill:#fff;
  }
  .header__enter:active svg path {
    fill: #fff;
  }
  .header__enter:active {
    border-color:#D1A9F0;
  }
  .header__enter::after {
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
    content: '';
    border-radius: 100px;
    border: 2px solid #C283F3;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
  .header__enter:focus.header__enter::after {
    opacity: 1;
  }
  .section-hero__menu {
    display: none;
  }
  .section-hero__content {
    padding-top: 114px;
    padding-bottom: 115px;
    max-width: 661px;
  }
  .first-title {
    padding-bottom: 11px;
  }
  .section-hero__text {
    padding-bottom: 132px;
  }
  .section-gallery__swiper-btns {
    padding-left: 0;
  }
  .section-gallery__left-column,
  .section-gallery__last {
    width: calc(280 / 924 * 100%);
  }
  .section-gallery__swiper {
    margin-right: 0;
    padding-top: 20px;
    width: calc(594 / 924 * 100%);
  }
  .section-gallery__swiper-slide::before {
    padding-top: 97.86%;
  }
  .section-catalog {
    padding-top: 81px;
  }
  .section-catalog__header {
    padding-bottom: 9px;
  }
  .section-catalog__second-title {
    padding-right: 43px;
  }
  .section-catalog__tabs {
    transform: translateY(8px);
  }
  .section-catalog__tab-content-left {
    padding-right: 25px;
  }
  .section-catalog__tab-content-right {
    padding-left: 25px;
  }
  .section-catalog__accordion-content-void-space {
    padding: 6px;
  }
  .section-catalog__accordion-content-void-img {
    width: 173px;
    height: 114px;
  }
  .section-events {
    padding-top: 34px;
  }
  .section-events__swiper-slide {
    margin-right: 2.92%;
    margin-bottom: 2.92%;
    width: 31.386%;
  }
  .section-events__swiper-slide-card {
    padding-top: 15px;
    padding-bottom: 50px;
    padding-right: 17px;
    padding-left: 34px;
  }
  .section-events__swiper-slide-card-discription {
    padding-right: 15px;
  }
  .section-events__swiper-slide-card-link {
    margin-top: 26px;
  }
  .section-events__btn-container {
    padding-top: 23px;
  }
  .section-editions {
    background-image: url("../img/section-editions/section-editions__banner-1024.jpg");
    padding-bottom: 80px;
  }
  .section-editions__left {
    padding-left: 1px;
    width: calc(287 / 924 * 100%);
  }
  .section-editions__swiper {
    margin-right: -9px;
    padding-top: 30px;
    width: calc(645 / 924 * 100%);
  }
  .section-editions__swiper-navigation {
    margin-bottom: 30px;
  }
  .section-editions__swiper-slide-discription  {
    padding-top: 13px;
  }
  .section-projects__second-title{
    padding-bottom: 18px;
  }
  .section-projects__third-title {
    padding-bottom: 23px;
  }
  .section-projects__swiper-container {
    width: calc(822 / 924 * 100%);
  }
  .section-contacts__left {
    width: calc(437 / 924 * 100%);
  }
  .section-contacts__left-content {
    max-width: 360px;
  }
  .section-contacts__links {
    padding-bottom: 103px;
  }
  .section-contacts__link {
    margin-right: 30px;
  }
  .section-contacts__link svg {
    width: 60px;
    height: 60px;
  }
  #section-contacts__map {
    left: calc(50px + (437 / 924 * (100% - 100px)));
    max-width: calc(100% - (50px + (437 / 924 * (100% - 100px))));
  }
  .footer__content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__link:not(:last-child) {
    margin-right: 30px;
  }
  .footer__link svg {
    width: 60px;
    height: 60px;
  }
}
@media(max-width: 821px) {
  .header__logo {
    transform: translateX(-5px);
  }
  .header__form {
    z-index: 7;
    right: 0;
    width: 100%;
    padding: 36px 50px 35px;
    background-color: #000;
  }
  .header__search-btn svg {
    width: 27px;
    height: 28px;
  }
  .header__search-btn svg rect,
  .header__search-btn svg path {
    transition: fill .2s ease-in-out;
  }
  .header__search-btn:hover svg rect,
  .header__search-btn:hover svg path {
    fill: #C283F3;
  }
  .header__search-btn:focus {
    outline: 2px solid #9D5CD0;
    outline-offset: 3px;
  }
  .header__search-btn:active svg rect,
  .header__search-btn:active svg path {
    fill: #7943A4;
  }
  .header__search-input {
    flex: 1 1;
    line-height: 29px;
    transition: border-color .2s ease-in-out;
  }
  .header__search-input:hover {
    border-color: #C283F3;
  }
  .header__search-input:focus {
    border-color: #C283F3;
  }
  .header__search-input:active {
    border-color: #7943A4;
  }
  .header__search svg {
    width: 27px;
    height: 28px;
  }
  .header__close-btn {
    display: block;
    margin-left: 15px;
    border: none;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
  }
  .header__close-btn svg rect,
  .header__close-btn svg path {
    transition: fill .2s ease-in-out;
  }
  .header__close-btn:hover svg rect,
  .header__close-btn:hover svg path {
    fill: #C283F3;
  }
  .header__close-btn:focus {
    outline: 2px solid #9D5CD0;
    outline-offset: 3px;
  }
  .header__close-btn:active svg rect,
  .header__close-btn:active svg path {
    fill: #7943A4;
  }
  .section-contacts__left {
    width: calc(380 / 668 * 100%);
  }
  #section-contacts__map {
    left: calc(50px + (380 / 668 * (100% - 100px)));
    max-width: calc(100% - (50px + (380 / 668 * (100% - 100px))));
  }
}
@media(max-width: 768px) {
  /* .hystmodal {
    position: fixed;
    padding-right: 50px;
    padding-left: 50px;
  }
  .hystmodal__window {
    height: 594px;
  } */


  .hystmodal__picture {
    width: calc(301 / 668 * 100%);
  }
  .hystmodal__discription {
    width: calc(367 / 668 * 100%);
  }
  .hystmodal__main-title {
    font-size: 24px;
  }
  .hystmodal__second-title {
    font-size: 16px;
  }
  .hystmodal__date {
    font-size: 12px;
  }
  .hystmodal__text {
    font-size: 16px;
    line-height: 32px;
  }







  .section-gallery {
    padding-bottom: 70px;
  }
  .section-gallery__content-wrap {
    flex-direction: column;
  }
  .section-gallery__left-column,
  .section-gallery__last {
    width: 100%;
  }
  .section-gallery__left-column,
  .section-gallery__swiper {
    margin-bottom: 20px;
  }
  .choices {
    max-width: 280px;
  }
  .section-gallery__swiper {
    padding-top: 29px;
    width: 100%;
  }
  .section-gallery__swiper-slide::before {
    padding-top: 86.44%;
  }
  .section-gallery__text-authorization {
    padding-top: 10px;
  }
  .section-gallery__last-content {
    position: static;
  }
  .section-catalog__second-title {
    padding-right: 40px;
  }
  .section-catalog__tabs {
    justify-content: space-between;
    width: 100%;
    transform: translateY(1px);
  }
  .section-catalog__tabs-item:not(:last-child) {
    margin-right: 15px;
  }
  .section-catalog__tab-content {
    padding-top: 20px;
  }
  .section-catalog__tab-content-active {
    flex-direction: column-reverse;
  }
  .section-catalog__tab-content-left {
    padding: 0;
  }
  .section-catalog__tab-content-right {
    padding-left: 0;
    max-width: 100%;
  }
  .section-catalog__accordion {
    padding-top: 0;
  }
  .section-catalog__accordion-tabs {
    padding-bottom: 32px;
    column-count: 3;
  }
  .section-catalog__accordion-tabs-content {
    padding-top: 50px;
  }
  .section-catalog__accordion-tabs-content-title {
    padding-top: 27px;
  }
  .section-catalog__accordion-content-void-space {
    padding: 10px;
  }
  .section-catalog__accordion-content-void-img {
    width: 251px;
    height: 165px;
  }
  .section-events {
    padding-top: 15px;
  }
  .section-events__swiper-slide {
    margin-right: 5.09%;
    margin-bottom: 5.09%;
    width: 47.456%;
  }
  .section-events__swiper-slide:nth-child(3n) {
    margin-right: 5.09%;
  }
  .section-events__swiper-slide:nth-child(2n) {
    margin-right: 0;
  }
  .section-events__swiper-slide:nth-child(n+4) {
    display: flex;
  }
  .section-events__swiper-slide:nth-child(n+3) {
    display: none;
  }
  .section-events__swiper-slide-show:nth-child(n+3) {
    display: flex;
    animation:  fadeIn .5s;
  }
  .section-events__swiper-slide-card {
    padding-bottom: 49px;
  }
  .section-events__swiper-slide-card-title {
    padding-right: 3px;
    padding-bottom: 1px;
  }
  .section-events__swiper-slide-card-link {
    margin-top: 60px;
  }
  .section-events__btn-container {
    padding-top: 16px;
  }
  .section-editions {
    padding-top: 88px;
    padding-bottom: 73px;
    background-image: url("../img/section-editions/section-editions__banner-768.jpg");
  }
  .section-editions__content-wrap {
    flex-direction: column;
  }
  .section-editions__left {
    padding-left: 0;
    width: 100%;
  }
  .checkboxes__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .checkboxes__checkbox-wrap {
    flex: 1 1 30%;
    margin-right: 20px;
  }
  .section-editions__form-container {
    padding-top: 11px;
  }
  .section-editions__swiper {
    padding-top: 50px;
    width: 100%;
  }
  .section-editions__swiper-navigation {
    margin-left: 0;
  }
  .section-editions__slides-container {
    margin-right: 0;
    padding-left: 27px;
    padding-right: 27px;
  }
  .section-projects__text {
    max-width: 659px;
  }
  .section-projects__third-title {
    padding-top: 26px;
    padding-bottom: 29px;
  }
  .section-projects__text-link {
    transform: translateX(-5px);
  }
  .section-projects__swiper-container {
    width: calc(566 / 668 * 100%);
  }
  .section-projects__swiper-slide::before {
    padding-top: 39.5%;
  }
}
@media(max-width: 720px) {

  .hystmodal__main-title {
    font-size: 3.34vw;
    line-height: 4.68vw;
  }
  .hystmodal__second-title {
    font-size: 2.22vw;
  }
  .hystmodal__date {
    padding-bottom: 3vw;
    font-size: 1.67vw;
  }
  .hystmodal__text {
    font-size: 2.22vw;
    line-height: 4.45vw;
  }



  .first-title {
    font-size: 45px;
    line-height: 60px;
  }
  .section-hero__text {
    font-size: 16px;
    line-height: 20px;
  }
  .section-catalog__accordion-tabs {
    column-count: 2;
  }
  .section-catalog__header {
    flex-direction: column;
  }
  .section-catalog__second-title {
    padding-bottom: 10px;
  }
  .checkboxes__checkbox-wrap {
    flex: 1 1 40%;
  }
  .section-contacts__container {
    border: none;
  }
  .section-contacts__column {
    flex-direction: column-reverse;
  }
  .section-contacts__left {
    border: none;
    width: 100%;
  }
  .section-contacts__left-content {
    max-width: 100%;
    padding: 0;
  }
  .section-contacts__third-title-mobile,
  .section-contacts__adress-mobile {
    display: block;
  }
  .section-contacts__third-title {
    padding-top: 0;
  }
  .section-contacts__third-title-desktop,
  .section-contacts__adress-desktop {
    display: none;
  }
  .section-contacts__callback {
    padding-top: 35px;
  }
  #section-contacts__map {
    position: static;
    margin-right: -50px;
    margin-left: -50px;
    width: calc(100% + 100px);
    max-width: calc(100% + 100px);
    height: 480px;
  }
}
@media(max-width: 620px) {
  .section-events {
    padding-bottom: 31px;
  }
  .section-events__swiper-slide {
    margin: 0;
    width: 100%;
  }
  .section-events__swiper-wrapper {
    flex-wrap: nowrap;
  }
  .section-events__swiper-slide:nth-child(n+3) {
    display: flex;
  }
  .section-events__swiper-slide-card {
    padding-left: 28px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
  .section-events__swiper-slide-card-title {
    padding-right: 0;
    padding-bottom: 0;
  }
  .section-events__swiper-slide-card-link {
    margin-top: 30px;
  }
  .section-events__swiper-pagination {
    display: block;
  }
  .section-events__btn {
    display: none;
  }
  .section-editions__slides-container {
    overflow: visible;
  }
  .section-editions__swiper-navigation {
    display: none;
  }
  .section-editions__slides-container {
    padding: 0;
  }
  .section-editions__swiper-wrapper {
    flex-wrap: wrap;
  }
  .section-editions__swiper-slide {
    margin-bottom: calc(50 / 290 * 100%);
    width: calc(130 / 290 * 100%);
  }
  .section-editions__swiper-slide:nth-child(2n+1) {
    margin-right: calc(30 / 290 * 100%);
  }
  .section-editions__swiper-image {
    width: 100%;
  }
  .section-editions__swiper-slide-discription {
    flex-direction: column;
  }
  .section-editions__swiper-slide-author {
    padding-bottom: 0;
  }
  .section-editions__swiper-slide-price {
    padding-top: 1px;
    padding-bottom: 12px;
  }
  .footer__content {
    flex-direction: column-reverse;
  }
  .footer__right {
    padding-bottom: 20px;
  }
}
@media(max-width: 480px) {
  .checkboxes__container {
    align-items: stretch;
    margin-bottom: 30px;
    width: 100%;
  }

  .checkboxes__title {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .checkboxes__title {
    transition: color .2s ease-in-out;
  }

  .checkboxes__title::after {
    position: absolute;
    top: 50%;
    right: 3px;
    content: "";
    border-right: 1px solid;
    border-bottom: 1px solid;
    width: 6px;
    height: 6px;
    transform: translateY(calc(-50% - 0.5px)) rotate(45deg);
    transition: transform .2s ease-in-out;
  }

  .checkboxes__title.is-active::after {
    transform: translateY(calc(-50% + 2px)) rotate(225deg);
  }

  .checkboxes__title.is-active ~ .checkboxes__checkbox-wrap .checkboxes__checkbox-content,
  .checkboxes__title:not(.is-active)
  ~ .checkboxes__checkbox-wrap
  .checkboxes__checkbox:checked
  ~ .checkboxes__checkbox-content {
    padding-top: 9px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    min-height: 38px;
    height: auto;
    opacity: 1;
  }

  .checkboxes__checkbox-wrap .checkboxes__checkbox-content {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0 solid transparent;
    width: 100%;
    height: 0;
    min-height: 0;
    opacity: 0;
    transition-property: min-height, opacity, padding, border;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
  }

  .checkboxes__checkbox:checked ~ .checkboxes__checkbox-content .checkboxes__close-icon {
    opacity: 1;
  }

  .checkboxes__close-icon {
    position: absolute;
    right: -1px;
    top: 12px;
    width: 16px;
    height: 16px;
    opacity: 0;
    transition: opacity .2s linear;
  }

  .checkboxes__close-icon::before,
  .checkboxes__close-icon::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #9D5CD0;
  }

  .checkboxes__close-icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .checkboxes__close-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }





  .hystmodal {
    position: fixed;
    padding-right: 15px;
    padding-left: 15px;
  }
  .hystmodal__window {
    height: 600px;
  }
  .hystmodal__content {
    flex-direction: column;
  }
  .hystmodal__picture {
    width: 100%;
    height: 200px;
  }
  .hystmodal__image {
    width: 100%;
    height: 200px;
  }
  .hystmodal__discription {
    width: 100%;
  }
  .hystmodal__main-title {
    font-size: 24px;
    line-height: 32px;
  }
  .hystmodal__second-title {
    font-size: 16px;
    line-height: 22px;
  }
  .hystmodal__date {
    font-size: 12px;
    line-height: 16px;
  }
  .hystmodal__text {
    font-size: 16px;
    line-height: 32px;
  }








  .header {
    padding-top: 12px;
    padding-bottom: 11px;
  }
  .header__logo {
  width: 97px;
  height: 22px;
  background: url("../img/header__logo-320.svg");
  transform: translateX(-3px);
  }
  .header__burger {
    width: 25px;
    height: 18px;
  }
  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    height: 2px;
  }
  .header__burger::before {
    transform: translateY(calc(-100% - 8px));
  }
  .header__burger span {
    top: calc(50% - 2px);
    width: 16px;
    transition: opacity .5s ease, transform .2s ease;
  }
  .header__burger::after {
    width: 10px;
    transform: translateY(calc(100% + 4px));
  }
  .header__search {
    transform: translateY(-1px);
  }
  .header__search svg {
    width: 18px;
    height: 18px;
  }
  .header__menu-wrap {
    padding: 46px 15px 27px;
  }
  .header__menu {
    transform: translateX(-6px);
  }
  .header__item {
    margin: 0;
  }
  .header__link {
    font-size: 16px;
  }
  .header__enter {
    margin-top: 25px;
    padding: 6px 21px 5px 22px;
    font-size: 16px;
    transform: translateX(-6px);
  }
  .header__form {
    top: 115%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 19px;
  }
  .header__search-input {
    margin-top: 20px;
    font-size: 15px;
    line-height: 15px;
  }
  .header__search-btn {
    margin-top: 20px;
    margin-right: 7px;
  }
  .header__search-btn svg {
    width: 16px;
    height: 16px;
  }
  .header__close-btn {
    margin-left: 34px;
    margin-bottom: auto;
  }
  .header__close-btn svg {
    width: 15px;
    height: 15px;
  }
  .second-title {
    padding-bottom: 11px;
    font-size: 28px;
    line-height: 38px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .section-hero__content {
    text-align: center;
    padding-top: 34px;
    padding-bottom: 45px;
  }
  .first-title {
    font-size: 32px;
    line-height: 37px;
  }
  .section-hero__text {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 42px;
    max-width: 275px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .btn {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 17px;
    padding-right: 15px;
    font-size: 12px;
    line-height: 16px;
  }
  .choices {
    max-width: 100%;
  }
  .section-about {
    padding-top: 51px;
    padding-bottom: 41px;
  }
  .section-about__text {
    font-size: 14px;
    line-height: 28px;
  }
  .section-gallery {
    padding-top: 51px;
    padding-bottom: 40px;
  }
  .section-gallery__left-column {
    padding-right: 0;
    max-width: 100%;
  }
  .section-gallery__filtre {
    padding-bottom: 5px;
  }
  .section-gallery__swiper {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0;
    padding-top: 20px;
  }
  .section-gallery__swiper-slide::before {
    padding-top: 124.485%;
  }
  .section-gallery__swiper-btns {
    margin-left: auto;
    margin-right: auto;
    padding-top: 19px;
    padding-bottom: 9px;
  }
  .section-gallery__swiper-pagination  {
    padding-left: 14px;
    padding-right: 14px;
    width:auto;
  }
  .section-catalog {
    padding-top: 51px;
    padding-bottom: 28px;
  }
  .section-catalog__header {
    flex-direction: column;
    padding-bottom: 0;
  }
  .section-catalog__second-title {
    padding-bottom: 0;
  }
  .section-catalog__accordion-tabs {
    column-count: 1;
    padding-top: 0;
    padding-bottom: 1px;
  }
  .section-catalog__tabs-btn {
    width: 32px;
    height: 32px;
  }
  .section-catalog__tab-content {
    padding-top: 6px;
  }
  .section-catalog__text {
    display: none;
  }
  .section-catalog__tabs-btn-is-active::after {
    top: -6px;
    bottom: -6px;
    left: -6px;
    right: -6px;
  }
  .section-catalog__accordion .ui-accordion-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section-catalog__accordion-title {
    font-size: 18px;
  }
  .section-catalog__accordion .ui-icon {
    width: 30px;
    height: 30px;
  }
  .section-catalog__accordion .ui-accordion-content {
    padding-top: 22px;
    padding-bottom: 17px;
  }
  .section-catalog__accordion-tabs-content-title {
    padding-top: 18px;
    padding-bottom: 12px;
  }
  .section-catalog__accordion-tabs-content-text {
    padding-right: 1px;
  }
  .section-catalog__accordion-content-void-space {
    padding: 4px;
  }
  .section-catalog__accordion-content-void-img {
    width: 79px;
    height: 118px;
  }
  .section-catalog__accordion-content-title {
    font-size: 18px;
  }
  .section-editions {
    background-image: url("../img/section-editions/section-editions__banner-320.jpg");
  }
  .section-events__swiper-slide-card-link {
    margin-top: 27px;
  }
  .section-editions {
    padding-top: 51px;
    padding-bottom: 0;
  }
  .checkboxes__container {
    margin-bottom: 0;
  }
  .checkboxes__title {
    padding: 9px 40px 10px 0;
  }
  .checkboxes__checkbox-wrap {
    flex: 0 0 100%;
    margin-bottom: 0;
  }
  .section-editions__form-container {
    padding-top: 18px;
  }
  .section-editions__third-title {
    padding-bottom: 7px;
  }
  .section-editions__swiper-slide-discription {
    padding-top: 10px;
  }
  .section-editions__swiper-slide-title {
    font-size: 12px;
    line-height: 16px;
  }
  .section-editions__swiper-slide-author {
    font-size: 12px;
    line-height: 16px;
  }
  .section-editions__swiper-slide-price {
    font-size: 12px;
    line-height: 16px;
  }
  .section-editions__swiper-slide-btn {
    margin-right: 0;
    text-align: center;
    font-size: 12px;
  }
  .section-projects {
    padding-top: 51px;
    padding-bottom: 51px;
  }
  .section-projects__third-title {
    padding-top: 10px;
    padding-bottom: 11px;
    font-size: 18px;
    line-height: 32px;
  }
  .section-projects__swiper-container {
    width: calc(199 / 290 * 100%);
  }
  .section-projects__swiper-slide::before {
    padding-top: 32.5%;
  }
  .section-projects__swiper-button-prev,
  .section-projects__swiper-button-next {
    top: calc(50% - 16px);
  }
  .section-contacts__third-title {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
  }
  .section-contacts__adress {
    padding-bottom: 17px;
    font-size: 14px;
    line-height: 18px;
  }
  .section-contacts__callback {
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
  }
  .section-contacts__form {
    margin-bottom: 0;
  }
  .section-contacts__form__label {
    margin-bottom: 20px;
  }
  .section-contacts__input {
    padding-left: 23px;
  }
  .section-contacts__btn {
    margin-top: 0;
    padding: 11px 33px 9px;
  }
  .section-contacts__links {
    margin-top: -10px;
    padding-bottom: 30px;
  }
  .section-contacts__link {
    margin-right: 20px;
  }
  .section-contacts__link svg {
    width: 50px;
    height: 50px;
  }
  #section-contacts__map {
    position: static;
    margin-right: -15px;
    margin-left: -15px;
    width: calc(100% + 30px);
    max-width: calc(100% + 30px);
    height: 320px;
  }
  .footer__content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__logo {
    width: 97px;
    height: 22px;
  }
  .footer__link svg {
    width: 50px;
    height: 50px;
  }
}
